@import "tailwindcss";

@theme {
  --color-peoBlack: #000000;
  --color-pureWhite: #ffffff;
}

@utility text-glow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5);
}
